body{
  height: 100%;
  margin: 0 0 0 0;
  text-align: center;
  width: 100%;
}

#header{
  height: 15%;
  max-height: 80px;
  width: 100%;
}

#header .img-container{
  display: inline-block;
  height: 100%;
  width: 15%;
}

#header .img-container #epam-image{
  height: 100%;
  width: 100%;
}

#header #profile{
  display: inline-block;
  height: 100%;
  margin: auto;
  overflow: auto;
  text-align: left;
  width: 15%;
}

#header #profile span{
  display: block;
  padding-bottom: 5;
}

#toolbox{
  height: 10%;
  margin: auto;
  text-align: center;
  width: 30%;
}

#toolbox #filter-section{
  display: inline-block;
  float: left;
  font-weight: bold;
  height: 100%;
  width: 69%;  
}

#toolbox #filter-section md-input-container.search.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
#toolbox #filter-section md-input-container.search:not(.md-input-invalid).md-input-focused .md-input{
  border-color: rgb(57, 194, 215) !important;
}

#toolbox #add-section{
  display: inline-block;
  float: right;
  height: 100%;
  text-align: center;
  width: 30%;
}

#toolbox #add-section .add-post{
  color: white !important;
  background-color: olivedrab !important;
}

#toolbox #add-section .add-post:not([disabled]):hover{
  background-color: #1ac92f !important;
}

#wait{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99;
}

#wait-img{
  zoom: 5;
}