div.post div.section-2 span.comments{
  float: right;
}

div.comment{
  background-color: white;
  border-radius: 15px;
  border-style: solid;
  height: 70px;
  margin: 10px auto;
  padding: 5px 10px;
  width: 40%;
}

div.comment div.body{
  display: inline-block;
  height: 100%;
  overflow: auto;
  width: 70%;
}

div.comment div.author{
  color: #0404b4;
  display: inline-block;
  float: right;
  height: 40%;
  overflow: auto;
  width: 20%;
}