body{
  height: 100%;
  margin: 0 0 0 0;
  width: 100%;
}

#header{
  height: 100px;
  width: 100%;
}

#header #epam-image{
  width: 200px;
}

#header #profile{
  display: inline-block;
  float: right;
  height: 100%;
  width: 80%;
}

#header #profile span{
  display: block;
  padding-bottom: 5;
}

#toolbox{
  text-align: center;
  width: 40%;
}

#toolbox #add-section{
  display: inline-block;
  text-align: center;
  width: 30%;
}

#toolbox #filter-section{
  display: inline-block;
  font-weight: bold;
  width: 69%;  
}

#wait{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: fixed;
  text-align: center;
  width: 100%;
}

#wait-img{
  zoom: 5;
}