div.post{
  background-color: #01a9db;
  border-radius: 15px;
  border-style: solid;
  height: 50px;
  margin: 30px 0px 30px 5px;
  padding: 5px 10px;
  width: 40%;
}

div.post div.section-1{
  color: white;
  padding: 5px 0px;
}

div.post div.section-1 div.action-buttons{
  display: inline-block;
  float: right;
}

div.post div.section-2{
  color: #0404b4;
  padding: 5px 0px;
}

div.post div.section-2 span.author{
  float: left;
}

span.return{
  color: red;
  cursor: pointer;
}