<div ng-controller="postPreviewController as ppCtrl">
  <div class="section-1">
    <span class="title">{{ppCtrl.post.title}}</span>
    <div class="action-buttons" ng-show="ppCtrl.post.authorId == ppCtrl.currentUser.id">
      <span class="edit-button" ng-click="ppCtrl.editPost($event)">Edit</span>
      &nbsp;|&nbsp;
      <span class="delete-button" ng-click="ppCtrl.removePost($event)">Delete</span>
    </div>
  </div>
  <div class="section-2">
    <span class="author">by {{ppCtrl.post.authorName}}</span>
    <span class="comments">Comments: {{ppCtrl.post.comments.length}}</span>
  </div>
</div>