<md-dialog class="add-post-dialog" aria-label="Add post dialog">
  <md-dialog-content>
    <div class="header">Add new post</div><br/>
    <form name="form">
      <md-input-container class="field">
        <label>Title</label>
        <input type="text" name="postTitle" ng-model="apCtrl.postTitle" required="true">
      </md-input-container>
      <md-input-container class="field">
        <label>Body</label>
        <textarea type="text" name="postBody" ng-model="apCtrl.postBody" required="true"></textarea>
      </md-input-container>
    </form>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-raised add-new-post" ng-click="apCtrl.addPost()" ng-disabled="form.$invalid">Add post</md-button>
    <md-button class="md-accent" ng-click="apCtrl.closeAddPost()">Cancel</md-button>
  </md-dialog-actions>
</md-dialog>