<div class="addPost" ng-controller="addPostController as apCtrl">
  <br/>
  <div class="header">Add post</div>
  <div class="content">
  	<br/>
    <div class="title">Title&nbsp;<input type="text" name="postTitle" ng-model="apCtrl.postTitle"></div>
    <br/>
  	<div class="body">Body<textarea rows="5" cols="50" name="postBody" ng-model="apCtrl.postBody"></textarea></div>
  </div>
  <div class="footer">
  	<br/>
  	<button name="addPost" ng-click="apCtrl.addPost()">Add post</button>
  	<button name="return" ng-click="apCtrl.closeAddPost()">Return to post list</button>
  </div>
</div>